<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
<body>
    <!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->
	
    <main>
        <h1>LOGUEARSE</h1>
    </main>

    <footer>

    </footer>
</body>
</html>