<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
<body>
    <!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->
	
    <main class="register_main">
        <section class="register_section">
            <form class="register_form" action="">
                <h4>Datos de Usuario</h4>
                <div class="register_form_contenedor">

                    <input class="register_form_contenedor-Input" type="text"  id="usuario" placeholder="Ingrese Usuario o Correo Electronico" >
                </div>
                <hr>
                <h4>contraseña</h4>
                <div class="register_form_contenedor">
                    <input class="register_form_contenedor-Input" type="password" name="pass" placeholder="Ingrese password" >
                </div>
                <hr>
                <a href="/">volver</a>
                <button  type="submit">Enviar</button>
                <button type="reset">Reset</button>
            </form>
        </section>
    </main>


    <footer>

    </footer>
</body>
</html>