<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
<body>
    <!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->
	
    <main class="register_main">
        <section class="register_section">
            <form class="register_form" action="">
                <h4>Datos de Usuario</h4>
                <div class="register_form_contenedor">
                    <label for="nombre"></label>
                    <input class="register_form_contenedor-Input" type="text" value="" id="nombre" >
                </div>
                <div class="register_form_contenedor">
                    <label for="apellido"></label>
                    <input class="register_form_contenedor-Input" type="text" value="Ingrese apellido" id="apellido">
                </div>
                <div class="register_form_contenedor">
                    <label for="usuario"></label>
                    <input class="register_form_contenedor-Input" type="text" value="Ingrese usuario" id="usuario">
                </div>
                <hr>
                <h4>Fecha de Nacimiento</h4>
                <div class="register_form_contenedor-fn">
                    <label for="fechaNacimiento"></label>
                    <input type="date" id="fechaNacimiento">
                </div>
                <hr>
                <h4>Domicilio</h4>
                <div class="register_form_contenedor">
                    <label for="domicilio"></label>
                    <input class="register_form_contenedor-Input" type="text" value="Ingrese Domicilio" id="domicilio">
                </div>
                <hr>
                <h4>Perfil de Usuario</h4>
                <div class="register_form_contenedor">
                    <input type="radio" name="perfil" value="Comprador" checked>
                    <label for="">comprador</label>
                    <input type="radio" name="perfil" value="Vendedor">
                    <label for="">Vendedor</label>
                </div>
                <hr>
                <h4>Categorías de Interés </h4>
                <div class="register_form_contenedor-checkbox">
                    <div>
                         <input type="checkbox" name="categoria" value="Electro">
                         <label for="categoria">Electro</label>
                    </div>
                    <div>
                        <input type="checkbox" name="categoria" value="Moda">
                        <label for="categoria">Moda</label>
                    </div>
                    <div>
                         <input type="checkbox" name="categoria" value="Hogar">
                         <label for="categoria">Hogar</label>
                    </div>
                    <div>
                        <input type="checkbox" name="categoria" value="Jugueteria">
                        <label for="categoria">Jugueteria</label>
                    </div>
                    <div>
                        <input type="checkbox" name="categoria" value="Vida Sana">
                        <label for="categoria">Vida Sana</label>
                    </div>
                </div>
                <hr>
                <h4>Fotografia</h4>
                <div class="register_form_contenedor">
                    <input type="file" name="avatar" accept=".jpg" multiple >
                </div>
                <hr>
                <h4>contraseña</h4>
                <div class="register_form_contenedor">
                    <input class="register_form_contenedor-Input" type="password" name="pass" value="Ingrese password" >
                    <input class="register_form_contenedor-Input" type="password" name="confPass" value="Confirme password" >
                </div>
                <hr>
                <a href="/">volver</a>
                <button  type="submit">Enviar</button>
                <button type="reset">Reset</button>
            </form>
        </section>
    </main>

    <footer>

    </footer>
</body>

</html>